<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}
         {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{asset('/css/bootstrap.css')}}" rel="stylesheet" />
    </head>
    <style>
        body{
            padding-top: 75px;
            padding-left: 150px;
            padding-right: 30px;
        } 
    </style>
    <body>
        <div>
        {% block menu %}
            {% include ':blocs:menu.html.twig' %}
        {% endblock %}
        </div>
        <div>
        {% block body %}
        {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="http:/>/code.jquery.com/jquery.js"></script>
        <script src="{{ asset("js/bootstrap.min.js")}}"></script>
        
{#        {{ dump(app.user) }}#}
    </body>
</html>
