/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2015, 10:59:23
    Author     : Marc
*/
.ArticleInligth
{
    background-color: blue;
    text-decoration-color: red;
}

.ArticleUnligth
{
    background: white;
    text-decoration-color: black;
}
